**Data Types and Structure Theoretical Questions**

1. What are data structures, and why are they important?
- Data Structures are organized way of storing and managing data so it can be accessed and used efficiently. they are important to make programs faster and handle large amount of data easily.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable: can be changed after creation. example: lists in python
-Immutable: cannot be changed after creation. example: Tuples in python

3. What are the main differences between lists and tuples in Python?
-Lists are mutable, tuples are immutable
-Lists use[] while tuples use ()
- Lists are used for dynamic data while tuples for fixed data
-lists are slower while tuples are faster

4.Describe how dictionaries store data.
- Dictionaries stores data as key-value pairs.

5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicates
- Sets offer faster membership checks (in operations)
- sets are good when order does not matter.

6. What is a string in Python, and how is it different from a list?
- String is a sequence of characters and is immutable
- List is a collection of items and is mutable

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, which prevents accidental modification and ensures consistent data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- Hash table is a data structure that maps keys to values using a hash function. Python distionaries are implmented using hash tables, enabling fast lookups.

9. Can lists contain different data types in Python?
- Yes

10. Explain why strings are immutable in Python?
- Strings are immutable for performance and security reasons, Changing a string would require creating a new memory space, so Python keeps them fixed.

11. What advantages do dictionaries offer over lists for certain tasks?
- Faster searching using keys
- More meaningful data representation
- Good for lookups, indexing by name instead of by number

12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples would be preferable when storing a data that should not change. example: Date of Birth for employees, Employee ID

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates, storing only unique values.

14. How does the “in” keyword work differently for lists and dictionaries?
- in List, in checks values.
- in Dictionaries, in check keys, not values.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, Tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
- Nested dictionary is a dictionary inside another dictionary.
- example: student = { "name": "Adv", "marks": {"maths": 90, "Science": 86}}

17. Describe the time complexity of accessing elements in a dictionary.
- Average time complexity is O(1) (constant time) because dictionaries use hash tables. Accessing elements in a dictionary has an average time complexity of O(1), also called constant time.

18. In what situations are lists preferred over dictionaries?
- when ordering matters
- when storing simple sequences
- when only index based access is required

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because their internal structure (hash table) doesn't store items in a fixed order. This means you cannot rely on insertion order for logical accessing (even though newer versions maintain order).

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- list accesses by index. eg: list[0]
- dictionary accesses by key(name). eg: dict["age"]

**Practical Questions**

1. Write a code to create a string with your name and print it.

In [1]:
name = "Advitya"
print(name)

Advitya

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text1 = "Python Programming"
print(text1[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
text2 = "I like apple"
print(text2)
print(text2.replace("apple", "orange"))

I like apple
I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [1]:
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [3]:
num = [1,2,3,4,5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [4]:
XX = ['a', 'b', 'c', 'd']
print(XX[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [6]:
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [7]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [8]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [9]:
t2 = (10, 20, 5, 15)
print(min(t2))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [10]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [11]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [12]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [14]:
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [15]:
s3 = {1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [16]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [17]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [19]:
info = {"name": "ADV", "age": 25, "city": "Delhi"}
print(info)

{'name': 'ADV', 'age': 25, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [20]:
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [21]:
r = {'name': 'Alice', 'age': 30}
print(r["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [23]:
g = {'name': 'Bob', 'age': 22, 'city': 'New York'}
g.pop("age")
print(g)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [24]:
f = {'name': 'Alice', 'city': 'Paris'}
print("city" in f)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [25]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [26]:
import random

nums = [random.randint(1, 100) for _ in range(5)]
nums.sort()
print(nums)

[34, 51, 62, 78, 82]

28. Write a code to create a list with strings and print the element at the third index.

In [27]:
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [28]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [29]:
lst = ["apple", "banana", "apple", "mango"]
result = set(lst)
print(result)

{'mango', 'apple', 'banana'}